{% extends "./_layouts/base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="body teacher">
    <!-- 面包屑 -->
    <ol class="breadcrumb">
      <li><a href="javascript:;">讲师管理</a></li>
      <li class="active">讲师添加</li>
    </ol>
    <div class="teacher-add">
      <form id="form" class="form-horizontal col-md-offset-2">
        <div class="form-group">
          <label for="" class="col-md-3 control-label">姓名</label>
          <div class="col-md-4">
            <input
                class="form-control input-sm"
                type="text"
                name="tc_name"
                placeholder="讲师名称">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-3 control-label">密码</label>
          <div class="col-md-4">
            <input
                type="password"
                class="form-control input-sm"
                name="tc_pass">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-3 control-label">入职时间</label>
          <div class="col-md-4">
            <input
                type="date"
                class="form-control input-sm"
                name="tc_join_date">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-3 control-label">类型</label>
          <div class="col-md-2">
            <select class="form-control input-sm" name="tc_type">
              <option value="1">讲师</option>
              <option value="0">管理员</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-3 control-label">性别</label>
          <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="tc_gender" value="0" checked> 男
            </label>
            <label class="radio-inline">
              <input type="radio" name="tc_gender" value="1"> 女
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-7">
            <input type="submit" class="btn btn-success btn-sm pull-right" value="添加">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="js/teacher-add.js"></script>
{% endblock %}
